* .contact {
    padding: 5px 20px;
}

.contact fieldset {
    margin: 20px 0;
}

.container {
    padding: 15px;
    margin-right: 20px
}

.container2 {
    display: flex;
    flex-direction: row;
}

.form {
    background-color:rgb(51, 49, 49);
    color: white
}

/* h3 {
    color: white;
} */